# Compiled class file
*.class
.p*
.s*
.c*
.f*
# Log file
*.log
*.component
# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea
*.iml
.mvn
target/
*.versionsBackup
mvnw
mvnw.cmd
.svn